<div class="body">
    <div class="tab-bar">
        <ul>
            <li><a href="#" class="active-tab">Species</a></li>
            <li><a href="#" class="inactive-tab">Classes</a></li>
            <li><a href="#" class="inactive-tab">Ability Scores</a></li>
            <li><a href="#" class="inactive-tab">Description</a></li>
            <li><a href="#" class="inactive-tab">Equipment</a></li>
        </ul>
    </div>
</div>